// ==============================
// Logo
// =============================

.logo-wrapper {
  float: left;
  margin-top: 22px;

  .logo {
    font-display: swap;
    font-family: 'adobe garamond pro';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/adobe.otf')
    format('otf');
}
}

@include max-screen() {
  .logo-wrapper {
    display: none;
  }
}
