/* =Typography - Mobilinställningar (Gäller för smartphones)
-----------------------------------------------------------------------------*/
body {
	font-family: 'Alegreya', 'Hoefler Text', Times, serif;
	font-size: 1.0em !important; /* Landar exakt på 100% – aningen mindre än ditt original på 1.05em */
	line-height: 1.6em;
	background-color: #fefefe;
}

h1, h2, h3, h4, h5 {
	font-family: 'Alegreya', 'Trebuchet MS', Helvetica, Arial, sans-serif;
	font-style: normal;
	color: #34495e;
}

h2, h3, h4, h5 {
	font-weight: normal;
	font-style: italic;
}

h2, h3 {
	font-family: 'Alegreya';
	font-style: normal;
}

/* =Datorskärmar - Krymper texten till din godkända storlek på dator
-----------------------------------------------------------------------------*/
@media screen and (min-width: 800px) {
    html {
        font-size: 15px !important; /* Din godkända datorskala för menyer/marginaler */
    }
    
    body {
        font-size: 0.95em !important; /* Din godkända datorstorlek för brödtext */
    }
}
