{{- define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end -}}

{{- define "content" -}}
  {{ $terms := .Data.Terms.ByCount -}}
  {{ $length := len $terms -}}
  
  <div class="terms">
    <div class="terms-title">
      {{ .Title }} ({{ $length }})
    </div>
    <div class="terms-tags">
      {{ range $terms -}}
        <a class="terms-link" href="{{ .Page.RelPermalink }}">
          <!-- ÄNDRAD RAD: humanize gör att bara första ordet blir stort -->
          {{ humanize .Page.Title }}
          <span class="terms-count">{{ len .Pages }}</span>
        </a>
      {{ end -}}
    </div>
  </div>
{{- end }}
