{{- define "content" -}}

<p> En plats där jag reflekterar kring sånt som gör intryck och avtryck. Främst som ett sätt att själv minnas, men också med förhoppningen om att inspirera andra som råkar ha vägarna förbi.  &rarr; <a href = "om-mig/">Mer om mig.</a>


  
</ul>  
</section>
<section>
<hr>  
</section>
<section id="posts" class="posts">
<br />  
<h1>Senaste blogginläggen</h1>
  {{ range first 5 ((where .Site.RegularPages.ByDate "Section" "blogg").Reverse) }}
  <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3><p> <em>{{ .Date.Day }} {{ i18n (printf "long_month_%d" .PublishDate.Month) }}</em>
<!-- 
  {{ if .Truncated }}
  {{ .Summary }}
 -->
 {{ .Summary }}
  &nbsp; <em><a href="{{ .RelPermalink }}">Läs vidare…</a></em></p>
<!-- 
  {{ else }}
  {{ .Content }}
  {{ end }}	
 -->
{{ end }}	
</section>
{{- end -}}
