<ul class="compact fa-ul">
  {{ $url := .Get "url" }}
  {{ $res := resources.GetRemote $url }}
  
  {{ if $res }}
    {{ $data := transform.Unmarshal $res.Content }}
    {{ range $data }}
      {{ $p := . }}  
      <li>
        <p><strong><a href="{{ $p.html_url }}" target="_blank">{{ $p.name }}:</a></strong>
        Stars: {{$p.stargazers_count}} &middot; Forks: {{$p.forks_count}} &middot; Size: {{$p.size}} &middot; Type: {{$p.language}} <br />
        {{ $p.description }}</p> 
      </li>
    {{ end }}
  {{ else }}
    <li class="error">Kunde inte hämta GitHub-data från: {{ $url }}</li>
  {{ end }}
</ul>


