{{- define "title" }}{{ T "archive" }} - {{ .Site.Title }}{{ end -}}

{{- define "content" }}

{{ $baseurl := .Site.BaseURL }}

  <div id="content" class="posts">

    <!-- post-header -->
    <header class="post-header">
      <h1 class="post-title">{{ .Title }}</h1>
    </header>

        	<br />

<p><em>Här kommer jag så småningom att placera längre texter och saker som jag publicerat.Eventuellt också annat kreativt material såsom fotografier och teckningar.</em></p>

<!--
	<br />
    &rarr; <a href = "https://frogren.se"><em>Mitt Curicumum Vitae i</em> <span class="scp">PDF</span><em>-format</em></a>
    <br />
    &rarr; <a href = "https://frogren.se"><em>Google Scholar-profil</em></a>

<div class="posts">

<h3>Books</h3>

<ul class = "publication">
{{ range (where .Data.Pages "Params.kind" "book").GroupByPublishDate "2006" "desc" }}
<!-- <h3>{{ .Key }}</h3> -->

<!--{{ range .Pages.ByPublishDate.Reverse }}
<li>{{ .Params.citation | safeHTML }}
  <a class="scp" href="{{ .Permalink }}"> &middot; overview</a>
  {{ if isset .Params "file" }}
  <a class="scp" href="{{.Site.BaseURL}}files/papers/{{ .Params.file }}"> &middot; pdf</a>
  {{ end }}

   >{{ if isset .Params "buy" }} &middot; {{ .Params.buy | safeHTML }} {{ end }} 

</li>
{{ end }}

{{- end}}
</ul>


<h3>Working Papers</h3>
<ul class = "publication">
{{ range (where .Data.Pages "Type" "unpublished").GroupByDate "2006" "desc" }}

<!-- <h3>{{ .Key }}</h3> -->

<!--{{ range .Pages.ByDate.Reverse }}
<li><!--{{ .Params.citation | safeHTML }}
  <a class="scp" href="{{ .Permalink }}"> &middot; abstract</a> 
  {{ if isset .Params "file" }}
  <a class="scp" href="{{.Site.BaseURL}}files/papers/{{ .Params.file }}"> &middot; pdf</a>
  {{ end }}
</li>
{{ end }}

{{- end}}
</ul>

<h3>Retired Papers</h3>
<ul class = "publication">
{{ range (where .Data.Pages "Type" "retired").GroupByDate "2006" "desc" }}

<!-- <h3>{{ .Key }}</h3> -->

<!--
{{ range .Pages.ByDate.Reverse }}
<li><!--{{ .Params.citation | safeHTML }}
  <a class="scp" href="{{ .Permalink }}"> &middot; abstract</a> 
  {{ if isset .Params "file" }}
  <a class="scp" href="{{.Site.BaseURL}}files/papers/{{ .Params.file }}"> &middot; pdf</a>
  {{ end }}
</li>
{{ end }}

{{- end}}
</ul>


<h3>Articles and Book Chapters</h3>
<ul class = "publication">
{{ range (where (where .Data.Pages "Type" "published") ".Params.kind" "!=" "book").GroupByPublishDate "2006" "desc" }}

<!-- <h3>{{ .Key }}</h3> -->
<!--{{ range .Pages.ByPublishDate.Reverse }}
{{ if ne .Params.kind "book" }}
<li>{{ .Params.citation | safeHTML }}
  <a class="scp" href="{{ .Permalink }}"> &middot; abstract</a> 
  {{ if isset .Params "file" }}
  <a class="scp" href="{{.Site.BaseURL}}files/papers/{{ .Params.file }}"> &middot; pdf</a>
  {{ end }}
</li>
{{ end }}
{{ end }}
{{- end}}
</ul>

<h3>Essays and Reviews</h3>
<ul class = "publication">
{{ range (where (where .Data.Pages "Type" "other") ".Params.kind" "!=" "book").GroupByPublishDate "2006" "desc" }}

<!-- <h3>{{ .Key }}</h3> -->
<!--{{ range .Pages.ByPublishDate.Reverse }}
{{ if ne .Params.kind "book" }}
<li>{{ .Params.citation | safeHTML }}
  <a class="scp" href="{{ .Permalink }}"> &middot; abstract</a> 
  {{ if isset .Params "file" }}
  <a class="scp" href="{{.Site.BaseURL}}files/papers/{{ .Params.file }}"> &middot; pdf</a>
  {{ end }}
</li>
{{ end }}
{{ end }}
{{ end }}
</ul class = "publication">
  </div> -->
  </div>
{{- end }}

